.idea/
src/test/java/io/github/brenbar/japi/GeneratedTests.java
src/test/java/io/github/brenbar/japi/GeneratedMockTests.java
src/test/java/io/github/brenbar/japi/GeneratedMockInvalidStubTests.java
target/
src/main/resources/internal.japi.json
src/main/resources/mock-internal.japi.json


