.idea/
src/test/java/io/github/brenbar/telepact/GeneratedTests.java
src/test/java/io/github/brenbar/telepact/GeneratedMockTests.java
src/test/java/io/github/brenbar/telepact/GeneratedMockInvalidStubTests.java
target/
src/main/resources/*.json
src/main/resources/LICENSE
src/main/resources/NOTICE
.m2/