{
    "tabWidth": 4,
    "printWidth": 120,
    "plugins": ["prettier-plugin-uapi"],
    "overrides": [
        {
            "files": "*.uapi.json",
            "options": {
                "parser": "uapi-parse"
            }
        },
        {
            "files": [".ts"],
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": ["*.md"],
            "options": {
                "parser": "markdown",
                "printWidth": 80,
                "proseWrap": "always"
            }
        },
        {
            "files": ["*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
