[requires]
python_version = "3.11"
python_full_version = "3.11.0"

[dev-packages]
mypy = "*"
pytest = "*"

[packages]
build = "*"
jinja2 = "*"
click = "*"
uapi = {path = "./../../lib/py/dist/uapi-0.0.1-py3-none-any.whl"}
