package {{ package }};

import java.util.AbstractMap;
import java.util.List;
import java.util.Map;
import java.util.HashMap;
import java.util.stream.Collectors;
import java.util.function.Function;


{%- macro to_java_type(t) %}
    {%- set typ = t | replace('?', '') %}
    {%- if typ == 'array' %}
        {{- 'List' -}}
    {%- elif typ == 'object' %}
        {{- 'Map' -}}
    {%- elif typ == 'boolean' %}
        {{- 'Boolean' -}}
    {%- elif typ == 'integer' %}
        {{- 'Long' -}}
    {%- elif typ == 'number' %}
        {{- 'Number' -}}
    {%- elif typ == 'string' %}
        {{- 'String' -}}
    {%- elif typ == 'any' %}
        {{- 'Object' -}}
    {%- elif typ.startswith('fn.') %}
        {{- typ | regex_replace('^.*\\.', '') -}}.Input
    {%- else %}
        {{- typ | regex_replace('^.*\\.', '') -}}
    {%- endif %}
{%- endmacro -%}

{%- macro marshall_java_type(t, depth) -%}
    {%- set typ = t[0] | replace('?', '') -%}
    {%- if typ == 'array' -%}
        Utility_.let({{ caller() }}, d{{depth}} -> d{{depth}} == null ? null : ((List<?>) d{{depth}}).stream().map(e{{ depth }} -> {% call marshall_java_type(t[1:][0], depth + 1) %}e{{ depth }}{% endcall %}).toList())
    {%- elif typ == 'object' -%}
        Utility_.let({{ caller() }}, d{{depth}} -> d{{depth}} == null ? null : ((Map<String, ?>) d{{depth}}).entrySet().stream().map(e{{ depth }} -> new AbstractMap.SimpleEntry<>(e{{ depth }}.getKey(), {% call marshall_java_type(t[1:][0], depth + 1) %}e{{ depth }}.getValue(){% endcall %})).collect(() -> { {{ translate(t)}} m = new HashMap<>(); return m; }, (m, e) -> m.put(e.getKey(), ({{ translate(t[1]) }}) e.getValue()), Map::putAll))
    {%- elif typ == 'boolean' -%}
        ({{- 'Boolean' -}}) {{ caller() }}
    {%- elif typ == 'integer' -%}
        ({{- 'Long' -}}) Utility_.let({{ caller() }}, d{{depth}} -> d{{depth}} == null ? null : d{{depth}} instanceof Integer ? ((Integer) d{{depth}}).longValue() : (Long) d{{depth}})
    {%- elif typ == 'number' -%}
        ({{- 'Number' -}}) {{ caller() }}
    {%- elif typ == 'string' -%}
        ({{- 'String' -}}) {{ caller() }}
    {%- elif typ == 'any' -%}
        ({{- 'Object' -}}) {{ caller() }}
    {%- elif typ.startswith('struct') or typ.startswith('fn') -%}
        Utility_.let({{ caller() }}, d{{ depth }} -> d{{ depth }} == null ? null : new {{ to_java_type(typ) }}((Map<String, Object>) d{{ depth }}))
    {%- elif typ.startswith('union') -%}
        Utility_.let({{ caller() }}, d{{depth}} -> d{{depth}} == null ? null : {{ to_java_type(typ) }}.fromPseudoJson((Map<String, Object>) d{{depth}}))
    {%- else -%}
        {{- ('Unknown type: ' + typ) | raise_error -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro unmarshall_java_type(t, depth) -%}
    {%- set typ = t[0] | replace('?', '') -%}
    {%- if typ == 'array' -%}
        Utility_.let({{ caller() }}, d{{depth}} -> d{{depth}} == null ? null : d{{depth}}.stream().map(e{{ depth }} -> {% call unmarshall_java_type(t[1:][0], depth + 1) %}e{{ depth }}{% endcall %}).toList())
    {%- elif typ == 'object' -%}
        Utility_.let({{ caller() }}, d{{depth}} -> d{{depth}} == null ? null : d{{depth}}.entrySet().stream().map(e{{ depth }} -> new AbstractMap.SimpleEntry<>(e{{ depth }}.getKey(), {% call unmarshall_java_type(t[1:][0], depth + 1) %}e{{ depth }}.getValue(){% endcall %})).collect(HashMap::new, (m, e) -> m.put(e.getKey(), e.getValue()), Map::putAll))
    {%- elif typ == 'boolean' -%}
        {{ caller() }}
    {%- elif typ == 'integer' -%}
        {{ caller() }}
    {%- elif typ == 'number' -%}
        {{ caller() }}
    {%- elif typ == 'string' -%}
        {{ caller() }}
    {%- elif typ == 'any' -%}
        {{ caller() }}
    {%- else -%}
        Utility_.let({{ caller() }}, d{{depth}} -> d{{depth}} == null ? null : d{{depth}}.toPseudoJson())
    {%- endif -%}
{%- endmacro -%}

{%- macro marshall_java_type_maybe_opt(field_name, field_type) -%}
    {%- if '!' in field_name %}map.containsKey("{{ field_name }}") ? new Optional_<{{ translate(field_type, False) }}>({% call marshall_java_type(field_type, 0) %}map.get("{{ field_name }}"){% endcall %}) : new Optional_<>(){% else %}{% call marshall_java_type(field_type, 0) %}map.get("{{ field_name }}"){% endcall %}{% endif -%}
{%- endmacro -%}

{%- macro setter_maybe_opt(field_name) -%}
    {%- if '!' in field_name %}new Optional_<>({{ caller() }}){% else %}{{ caller ()}}{% endif %}
{%- endmacro -%}

{%- macro docstring(data) -%}
    {%- if '///' in data %}
/**
        {%- set doc = data['///'] -%}
        {%- if doc is iterable and doc is not string -%}
            {%- for line in doc %}
 *{{ line }}
            {%- endfor %}
        {%- else %}
 *{{ doc }}
        {%- endif %}
 */
    {%- endif %}
{%- endmacro -%}

{%- macro sanitize_field_name(field_name) -%}
    {%- set sanitized_name =  field_name | replace('!', '') -%}
    {%- set java_keywords = ["build", "while", "volatile", "strictfp", "void", "try", "transient", "throws", "throw", "this", "synchronized", "switch", "super", "static", "short", "return", "public", "protected", "private", "package", "new", "native", "long", "interface", "int", "instanceof", "import", "implements", "if", "goto", "final", "finally", "float", "extends", "enum", "else", "double", "do", "default", "continue", "const", "class", "char", "catch", "case", "byte", "break", "boolean", "assert", "abstract"] %}
    {%- if sanitized_name in java_keywords -%}
        {{- sanitized_name + '_' -}}
    {%- else -%}
        {{- sanitized_name -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro translate(type, optional) -%}
    {%- if optional %}
        {{- 'Optional_<' -}}
    {%- endif %}
    {{- to_java_type(type[0]) -}}
    {%- set typ = type[0] | replace('?', '') -%}
    {%- if type | length > 1 -%}
        {{- '<' -}}
        {%- if typ == 'object' %}
            {{- 'String, ' -}}
        {%- endif %}
        {%- for t in type[1:] -%}
            {{- translate(t) -}}{{ ", " if not loop.last -}}
        {%- endfor -%}
        {{- '>' -}}
    {%- endif -%}
    {%- if optional %}
        {{- '>' -}}
    {%- endif %}
{%- endmacro -%}

{%- macro struct(data, schema_key, alt_name, modifier, implements, unionCase, forFn) %}
    {%- set fields = data[schema_key] %}
    {%- set java_name = alt_name if alt_name else schema_key | regex_replace('^.*\\.', '') %}
    {{ docstring(data) }}
public {{ modifier }}class {{ java_name }}{% if implements %} implements {{ implements }}{% endif %} {
    {%- for field_name, field_type in fields.items() %}
    public final {{ translate(field_type, '!' in field_name) }} {{ sanitize_field_name(field_name) }};
    {%- endfor %}

    public {{ java_name }}(Builder b) {
        {%- for field_name, field_type in fields.items() %}
        this.{{ sanitize_field_name(field_name) }} = b.{{ sanitize_field_name(field_name) }};
        {%- endfor %}
    }

    public {{ java_name -}}
        (Map<String, Object> map{% if forFn %}Init{% endif %}) {
        {%- if forFn %}
        var map = (Map<String, Object>) mapInit.get("{{ unionCase }}");
        {%- endif %}
        {%- for field_name, field_type in fields.items() %}
        this.{{ sanitize_field_name(field_name) }} = {{ marshall_java_type_maybe_opt(field_name, field_type) }};
        {%- endfor %}
    }

    public Map<String, Object> toPseudoJson() {
        Map<String, Object> fields = new HashMap<>();
        {%- for field_name, field_type in fields.items() %}
            {%- if '!' in field_name %}
        this.{{ sanitize_field_name(field_name) }}.ifPresent(f -> {
            fields.put("{{ field_name }}", {% call unmarshall_java_type(field_type, 0) %}f{% endcall %});
        });
            {%- else %}
        fields.put("{{ field_name }}", {% call unmarshall_java_type(field_type, 0) %}this.{{ sanitize_field_name(field_name) }}{% endcall %});
            {%- endif %}
        {%- endfor %}
        {%- if unionCase %}
        return Map.ofEntries(
            Map.entry("{{ unionCase }}", fields)
        );          
        {%- else %}
        return fields;
        {%- endif %}
    }

    public static class Builder {
        {%- for field_name, field_type in fields.items() %}
        private {{ translate(field_type, '!' in field_name) }} {{ sanitize_field_name(field_name) }}{% if '!' in field_name %} = new Optional_<>(){% endif %};
        {%- endfor %}

        public Builder() {
        }

        {%- for field_name, field_type in fields.items() %}
        public Builder {{ sanitize_field_name(field_name) }}({{ translate(field_type, false) }} {{ sanitize_field_name(field_name) }}) {
            this.{{ sanitize_field_name(field_name) }} = {% call setter_maybe_opt(field_name) %}{{ sanitize_field_name(field_name) }}{% endcall %};
            return this;
        }
        {%- endfor %}

        public {{ java_name }} build() {
            return new {{ java_name }}(this);
        }
    }
}
{%- endmacro %}

{%- macro union(data, schema_key) %}
    {%- set cases = data[schema_key] %}
    {%- if schema_key == '->' %}
        {%- set schema_key = 'Output' %}
    {%- endif %}
    {%- set java_name = schema_key | regex_replace('^.*\\.', '') %}
    {{ docstring(data) }}
public sealed interface {{ java_name }} {

    {{ struct({'NoMatch_': {} }, 'NoMatch_', None, 'final ', java_name, 'NoMatch_') | indent }}

    {%- for case_entry in cases %}
        {% set case_key = case_entry | find_case_key %}
        {{ struct(case_entry, case_key, None, 'final ', java_name, case_key) | indent }}
    {%- endfor %}

    public static {{ java_name }} fromPseudoJson(Map<String, Object> map) {
        var entry = map.entrySet().stream().findAny().get();
        var caseName = entry.getKey();
        var payload = (Map<String, Object>) entry.getValue();        
        switch (caseName) {
            {%- for case_entry in cases %}
                {% set case_key = case_entry | find_case_key %}
            case "{{ case_key }}":
                return new {{ case_entry | find_case_key }}(payload);
            {%- endfor %}
            default:
                return new NoMatch_(payload);
        }
    }

    public Map<String, Object> toPseudoJson();

}
{%- endmacro %}

{%- macro function(data, schema_key) %}
    {%- set fields = data[schema_key] %}
    {%- set java_name = schema_key | regex_replace('^.*\\.', '') %}
public final class {{ java_name }} {

    {{ struct(data, schema_key, 'Input', 'static ', None, schema_key, True) | indent }}

    {% do data.pop('///', None) %}

    {{ union (data, '->') | indent }}
}
{%- endmacro %}


{%- set schema_key = data | find_schema_key %}

{%- if schema_key.startswith('struct') %}
    {{ struct(data, schema_key, None, "", None, None) }}
{%- elif schema_key.startswith('union') %}
    {{ union(data, schema_key) }}
{%- elif schema_key.startswith('fn') %}
    {{ function(data, schema_key) }}
{%- endif %}

