package {{ package }};

import java.util.AbstractMap;
import java.util.List;
import java.util.Map;
import java.util.stream.Collectors;
import java.util.function.Function;


{%- macro to_java_type(t) %}
    {%- set typ = t | replace('?', '') %}
    {%- if typ == 'array' %}
        {{- 'List' -}}
    {%- elif typ == 'object' %}
        {{- 'Map' -}}
    {%- elif typ == 'boolean' %}
        {{- 'Boolean' -}}
    {%- elif typ == 'integer' %}
        {{- 'Integer' -}}
    {%- elif typ == 'number' %}
        {{- 'Number' -}}
    {%- elif typ == 'string' %}
        {{- 'String' -}}
    {%- else %}
        {{- t | regex_replace('^.*\\.', '') -}}
    {%- endif %}
{%- endmacro -%}

{%- macro marshall_java_type(t, depth) -%}
    {%- set typ = t[0] | replace('?', '') -%}
    {%- if typ == 'array' -%}
        ((List<Object>) {{ caller() }}).stream().map(e{{ depth }} -> {% call marshall_java_type(t[1:][0], depth + 1) %}e{{ depth }}{% endcall %}).toList()
    {%- elif typ == 'object' -%}
        ((Map<String, Object>) {{ caller() }}).entrySet().stream().map(e{{ depth }} -> new AbstractMap.SimpleEntry<>(e{{ depth }}.getKey(), {% call marshall_java_type(t[1:][0], depth + 1) %}e{{ depth }}.getValue(){% endcall %})).collect(Collectors.toMap(Map.Entry::getKey, Map.Entry::getValue))
    {%- elif typ == 'boolean' -%}
        ({{- 'Boolean' -}}) {{ caller() }}
    {%- elif typ == 'integer' -%}
        ({{- 'Integer' -}}) {{ caller() }}
    {%- elif typ == 'number' -%}
        ({{- 'Number' -}}) {{ caller() }}
    {%- elif typ == 'string' -%}
        ({{- 'String' -}}) {{ caller() }}
    {%- elif typ == 'T0' -%}
        (T0) t0Mapper.apply({{ caller() }})
    {%- elif typ == 'T1' -%}
        (T1) t1Mapper.apply({{ caller() }})
    {%- elif typ == 'T2' -%}
        (T2) t2Mapper.apply({{ caller() }})
    {%- else -%}
        new {{ translate(t) }}((Map<String, Object>) {{ caller() -}}
            {%- for t2 in t[1:] -%}
                , t{{ depth }} -> {% call marshall_java_type(t2, depth + 1) -%}t{{ depth }}{% endcall %}
            {%- endfor -%}
            )
    {%- endif -%}
{%- endmacro -%}

{%- macro unmarshall_java_type(t, depth) -%}
    {%- set typ = t[0] | replace('?', '') -%}
    {%- if typ == 'array' -%}
        {{ caller() }}.stream().map(e{{ depth }} -> {% call unmarshall_java_type(t[1:][0], depth + 1) %}e{{ depth }}{% endcall %}).toList()
    {%- elif typ == 'object' -%}
        {{ caller() }}.entrySet().stream().map(e{{ depth }} -> new AbstractMap.SimpleEntry<>(e{{ depth }}.getKey(), {% call unmarshall_java_type(t[1:][0], depth + 1) %}e{{ depth }}.getValue(){% endcall %})).collect(Collectors.toMap(Map.Entry::getKey, Map.Entry::getValue))
    {%- elif typ == 'boolean' -%}
        {{ caller() }}
    {%- elif typ == 'integer' -%}
        {{ caller() }}
    {%- elif typ == 'number' -%}
        {{ caller() }}
    {%- elif typ == 'string' -%}
        {{ caller() }}
    {%- elif typ == 'T0' -%}
        t0Mapper.apply({{ caller() }})
    {%- elif typ == 'T1' -%}
        t1Mapper.apply({{ caller() }})
    {%- elif typ == 'T2' -%}
        t2Mapper.apply({{ caller() }})
    {%- else -%}
        {{ caller() -}}.toPseudoJson(
            {%- for t2 in t[1:] -%}
                t{{ depth }} -> {% call unmarshall_java_type(t2, depth + 1) -%}t{{ depth }}{% endcall %}{% if not loop.last %}, {% endif %}
            {%- endfor -%}
            )
    {%- endif -%}
{%- endmacro -%}

{%- macro marshall_java_type_maybe_opt(field_name, field_type) -%}
    {%- if '!' in field_name %}map.containsKey("{{ field_name }}") ? new Optional_<>({% call marshall_java_type(field_type, 0) %}map.get("{{ field_name }}"){% endcall %}) : new Optional_<>(){% else %}{% call marshall_java_type(field_type, 0) %}map.get("{{ field_name }}"){% endcall %}{% endif -%}
{%- endmacro -%}

{%- macro setter_maybe_opt(field_name) -%}
    {%- if '!' in field_name %}new Optional_<>({{ caller() }}){% else %}{{ caller ()}}{% endif %}
{%- endmacro -%}

{%- macro docstring(data) -%}
    {%- if '///' in data %}
/**
        {%- set doc = data['///'] -%}
        {%- if doc is iterable and doc is not string -%}
            {%- for line in doc %}
 *{{ line }}
            {%- endfor %}
        {%- else %}
 *{{ doc }}
        {%- endif %}
 */
    {%- endif %}
{%- endmacro %}


{%- macro translate(type, optional) -%}
    {%- if optional %}
        {{- 'Optional_<' -}}
    {%- endif %}
    {{- to_java_type(type[0]) -}}
    {%- set typ = type[0] | replace('?', '') -%}
    {%- if type | length > 1 -%}
        {{- '<' -}}
        {%- if typ == 'object' %}
            {{- 'String, ' -}}
        {%- endif %}
        {%- for t in type[1:] -%}
            {{- translate(t) -}}{{ ", " if not loop.last -}}
        {%- endfor -%}
        {{- '>' -}}
    {%- endif -%}
    {%- if optional %}
        {{- '>' -}}
    {%- endif %}
{%- endmacro -%}

{%- macro struct(data, schema_key, alt_name, modifier, implements) %}
    {%- set fields = data[schema_key] %}
    {%- set java_name = alt_name if alt_name else schema_key | regex_replace('^.*\\.', '') %}
    {{ docstring(data) }}
public {{ modifier }}class {{ java_name }}{% if '<1>' in schema_key %}{{ '<T0>' }}{% elif '<2>' in schema_key %}{{ '<T0, T1>'}}{% elif '<3>' in schema_key %}{{ '<T0, T1, T2>' }}{% endif %}{% if implements %} implements {{ implements }}{% endif %} {
    {%- for field_name, field_type in fields.items() %}
    public {{ translate(field_type, '!' in field_name) }} {{ field_name | replace('!', '')}};
    {%- endfor %}

    public {{ java_name }}({% for field_name, field_type in fields.items() %}{{ translate(field_type, '!' in field_name) }} {{ field_name | replace('!', '') }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        {%- for field_name, field_type in fields.items() %}
        this.{{ field_name | replace('!', '') }} = {{ field_name | replace('!', '') }};
        {%- endfor %}
    }

    public {{ java_name -}}
        (Map<String, Object> map
        {%- if '<1>' in schema_key %}, Function<Object, T0> t0Mapper{% endif %}
        {%- if '<2>' in schema_key %}, Function<Object, T0> t0Mapper, Function<Object, T1> t1Mapper{% endif %}
        {%- if '<3>' in schema_key %}, Function<Object, T0> t0Mapper, Function<Object, T1> t1Mapper, Function<Object, T2> t2Mapper{% endif %}) {
            {%- for field_name, field_type in fields.items() %}
            this.{{ field_name | replace('!', '') }} = {{ marshall_java_type_maybe_opt(field_name, field_type) }};
            {%- endfor %}
    }

    public Map<String, Object> toPseudoJson(
        {%- if '<1>' in schema_key %}Function<T0, Object> t0Mapper{% endif %}
        {%- if '<2>' in schema_key %}Function<T0, Object> t0Mapper, Function<T1, Object> t1Mapper{% endif %}
        {%- if '<3>' in schema_key %}Function<T0, Object> t0Mapper, Function<T1, Object> t1Mapper, Function<T2, Object> t2Mapper{% endif %}) {
        return Map.ofEntries(
            {%- for field_name, field_type in fields.items() if '!' not in field_name %}
            Map.entry("{{ field_name }}", {% call unmarshall_java_type(field_type, 0) %}this.{{ field_name }}{% endcall %}){% if not loop.last %},{% endif %}
            {%- endfor %}
        );
    }

    {%- for field_name, field_type in fields.items() %}
    public {{ java_name }} {{ field_name | replace('!', '')}}({{ translate(field_type, false) }} {{ field_name | replace('!', '')}}) {
        this.{{ field_name | replace('!', '') }} = {% call setter_maybe_opt(field_name) %}{{ field_name | replace('!', '')}}{% endcall %};
        return this;
    }
    {%- endfor %}
    
    {%- for field_name, field_type in fields.items() %}
    public {{ translate(field_type, '!' in field_name) }} {{ field_name | replace('!', '') }}() {
        return this.{{ field_name | replace('!', '')}};
    }
    {%- endfor %}
}
{%- endmacro %}

{%- macro union(data, schema_key) %}
    {%- set cases = data[schema_key] %}
    {%- if schema_key == '->' %}
        {%- set schema_key = 'Output' %}
    {%- endif %}
    {%- set java_name = schema_key | regex_replace('^.*\\.', '') %}
    {{ docstring(data) }}
public sealed interface {{ java_name }}{% if '<1>' in schema_key %}{{ '<T0>' }}{% elif '<2>' in schema_key %}{{ '<T0, T1>'}}{% elif '<3>' in schema_key %}{{ '<T0, T1, T2>' }}{% endif %} {

    {{ struct({'NoMatch_': {} }, 'NoMatch_', None, 'final ', java_name) | indent }}

    {%- for case_entry in cases %}
        {% set case_key = case_entry | find_case_key %}
        {{ struct(case_entry, case_key, None, 'final ', java_name) | indent }}
    {%- endfor %}
}
{%- endmacro %}

{%- macro function(data, schema_key) %}
    {%- set fields = data[schema_key] %}
    {%- set java_name = schema_key | regex_replace('^.*\\.', '') %}
public final class {{ java_name }} {

    {{ struct(data, schema_key, 'Input', 'static ', None) | indent }}

    {% do data.pop('///', None) %}

    {{ union (data, '->') | indent }}
}
{%- endmacro %}


{%- set schema_key = data | find_schema_key %}

{%- if schema_key.startswith('struct') %}
    {{ struct(data, schema_key, None, "", None) }}
{%- elif schema_key.startswith('union') %}
    {{ union(data, schema_key) }}
{%- elif schema_key.startswith('fn') %}
    {{ function(data, schema_key) }}
{%- endif %}

