package {{ package }};

import uapi.Message;
import uapi.Client;
import java.util.Map;

public class ClientInterface_ {

    private final Client client;

    public ClientInterface_(Client client) {
        this.client = client;
    }

    {%- for fn in functions %}
    {%- set function_name = fn | replace('fn.', '') %}
    public {{ function_name }}.Output {{ function_name }}(Map<String, Object> headers, {{ function_name }}.Input input) {
        var message = this.client.request(new Message(headers, Map.of("{{ fn }}", input.toPseudoJson())));
        return {{ function_name }}.Output.fromUnionPsuedoJson(message.body);
    }
    {%- endfor %}

}