[requires]
python_version = "3.11"
python_full_version = "3.11.0"

[packages]
build = "*"
msgpack = "*"
nats-py = "*"
prometheus-client = "*"
uapi = {path = "./../../../lib/py/dist/uapi-0.0.1-py3-none-any.whl"}
uapicodegen = {path = "./../../../tool/uapicodegen/dist/uapicodegen-0.0.1-py3-none-any.whl"}

[pipenv]
allow_prereleases = true

[dev-packages]
