# Ignore the node_modules directory
node_modules

# Ignore any log files
*.log

# Ignore __pycache__ directories
__pycache__

# Ignore target directory
target

# Ignore Dockerfile and docker-compose.yml
Dockerfile
docker-compose.yml
