package {{ package }};

import io.github.telepact.Message;
import io.github.telepact.FunctionRouter;
import io.github.telepact.TypedMessage;
import java.util.Map;

public abstract class TypedServerHandler {
    public FunctionRouter register(FunctionRouter router) {
        {%- for fn in functions %}
        {%- set function_name = fn | replace('fn.', '') %}
        router.{{ 'registerAuthenticated' if auth_enabled else 'registerUnauthenticated' }}("{{ fn }}", (headers, arguments) -> {
            var typedMessage = this.{{ function_name }}(headers, new {{ function_name }}.Input(Map.of("{{ fn }}", arguments)));
            return new Message(typedMessage.headers, typedMessage.body.pseudoJson);
        });
        {%- endfor %}
        return router;
    }

    {%- for fn in functions %}
    {%- set function_name = fn | replace('fn.', '') %}
    public abstract TypedMessage<{{ function_name }}.Output> {{ function_name }}(Map<String, Object> headers, {{ function_name }}.Input input);
    {%- endfor %}
}
