package {{ package }};

import io.github.telepact.Message;
import io.github.telepact.Server;
import io.github.telepact.TypedMessage;
import java.util.Map;

public abstract class TypedServerHandler {

    {%- for fn in functions %}
    {%- set function_name = fn | replace('fn.', '') %}
    public abstract TypedMessage<{{ function_name }}.Output> {{ function_name }}(Map<String, Object> headers, {{ function_name }}.Input input);
    {%- endfor %}

    public Map<String, Server.FunctionRoute> functionRoutes() {
        return Map.ofEntries(
            {%- for fn in functions %}
            {%- set function_name = fn | replace('fn.', '') %}
            Map.entry("{{ fn }}", (functionName, requestMessage) -> {
                var argument = requestMessage.body.get(functionName);
                var typedMessage = this.{{ function_name }}(
                    requestMessage.headers,
                    new {{ function_name }}.Input(Map.of("{{ fn }}", argument))
                );
                return new Message(typedMessage.headers, typedMessage.body.pseudoJson);
            }){{ "," if not loop.last else "" }}
            {%- endfor %}
        );
    }

    public Message handler(Message message) {
        var functionName = message.body.keySet().stream().findAny().get();
        var functionRoute = functionRoutes().get(functionName);
        if (functionRoute == null) {
            throw new IllegalArgumentException("Unknown function: " + functionName);
        }
        return functionRoute.apply(functionName, message);
    }

}
